body {
    margin: 0;
    font-family: "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: #edf0f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 85px;
    background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.logo-title {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    gap: 12px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin-top: -6px;
}

.logo-title .logo {
    width: 60px;
    height: 55px;
    margin-top: 8px;
}

.secondary-title {
    margin-right: 35px;
    margin-top: 16px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}

.meme {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.input {
    margin-left: auto;
    margin-right: auto;
}

.meme-content {
    position: relative;
    width: 580px;
    height: 560px;
    margin-right: auto;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.box {
    width: 230px;
    height: 35px;
    left: 36px;
    top: 101px;
    border: 1px solid #d5d4d8;
    border-radius: 5px;

    font-family: "Karla", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}

.image-button {
    width: 510px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

    color: white;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.image-button:active {
    opacity: 0.8;
}

::placeholder {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    letter-spacing: -0.01em;
}

.meme-image {
    width: 600px;
    height: 500px;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.meme-text {
    font-family: impact, sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
          2px 2px 0 #000,
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          0 2px 0 #000,
          2px 0 0 #000,
          0 -2px 0 #000,
          -2px 0 0 #000,
          2px 2px 5px #000;
}

#top-text {
    position: absolute;
}

#bottom-text {
    position: absolute;
}

#additional-text {
    position: absolute;
}

#download-button {
    margin-top: 15px;
    margin-bottom: 25px;
}

#third-text {
    width: 496px;
}

.third-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

#download-button {
    margin-top: 40px;
    background: linear-gradient(90deg, #FF5733 0%, #FF6B6B 100%);
}